.container-category {
  margin-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px auto;
  box-sizing: border-box;

  .restaurant-category {
    padding: 0 auto;
    background: #fefefe;
    width: 430px;
    height: 10rem;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    &:hover {
      border: 1px solid #a8a8b3;
    }

    .restaurant-category-img {
      position: absolute;
      padding-right: 5px;
      .restaurant-logo-category {
        width: 60px;
        height: 60px;
        margin-top: 45px;
        margin-left: 15px;
        border-radius: 50%;
      }
    }
    .restaurants-category-box {
      margin-top: 2em;
      position: relative;
      justify-content: center;
      display: inline-block;
    }
    .restaurants-category-name {
      color: #3b375d;
      .restaurant-category-text {
        font-size: 18px;
      }
    }

    .restaurant-category-is-open {
      color: #a3d321;
      font-size: 18px;
    }
  }

  .restaurant-category-closed {
    padding: 0 auto;
    background: #fefefe;
    width: 430px;
    height: 10rem;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    &:hover {
      border: 1px solid #a8a8b3;
    }
    .restaurant-category-img {
      position: absolute;
      padding-right: 5px;

      .restaurant-logo-category {
        width: 60px;
        height: 60px;
        margin-top: 45px;
        margin-left: 15px;
        border-radius: 50%;
        filter: brightness(0.6);
      }
    }
    .restaurants-category-box {
      margin-top: 2em;
      position: relative;
      justify-content: center;
      display: inline-block;
    }

    .restaurants-category-name {
      color: gray;
      .restaurant-category-text {
        font-size: 18px;
      }
    }

    .restaurant-category-is-closed {
      font-size: 19px;
      color: gray;
    }
  }
}

@media (max-width: 450px) {
  .container-category {
    .restaurant-category {
      width: 380px;
      height: 10rem;
    }

    .restaurant-category-closed {
      width: 380px;
      height: 10rem;
    }
  }
}
