.orders-container {
  margin-top: 1em;
  margin-left: 4em;
  margin-right: 1em;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  color: #3b375d;
  gap: 20px;

  box-sizing: border-box;
}

.orders-list {
  padding: 0 auto;
  background: #ebebeb42;
  width: 480px;
  height: 220px;
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;

  &:hover {
    border: 1px solid #a8a8b3;
  }
}

.orders-list-box {
  position: relative;
  justify-content: center;
  display: inline-block;
  margin-left: 70px;
  margin-top: 0.5em;
}
.orders-list-img {
  position: absolute;
  padding-right: 5px;
  margin-left: 30px;
  margin-top: 1em;
}
.orders-img-logo {
  width: 80px;
  height: 80px;
  background-color: #3b375d;
  border-radius: 50%;
}
.orders-list-texts {
  color: #3b375d;
  padding-top: 10px;
}

.orders-list-text {
  font-size: 18px;
}
.orders-list-title {
  color: #3b375d;
  margin-left: 4em;
  font-weight: 500;
  margin-top: 2em;
  font-size: 30px;
}
.orders-list-p {
  padding-left: 70px;
}

.orders-list-blue {
  color: #4054b2;
  font-style: normal;
}

// clickOrders
.order-list-items {
  text-align: center;
  color: #3b375d;
  margin-top: 1em;
  font-weight: 500;
}

.menu-img-item {
  width: 100px;
  height: 100px;
  background-color: #3b375d;
  border-radius: 10%;
}

.order-list-title {
  color: #3b375d;
  text-align: center;
  font-size: 30px;
  margin-top: 2em;
}

.order-list-img {
  position: absolute;

  margin-left: 20px;
  margin-top: 2em;
}

.orders-list-title {
  color: #3b375d;
  margin-left: 5em;
  font-weight: 500;
  margin-top: 2em;
  font-size: 30px;
}

.order-list {
  padding: 0 auto;
  background: #ebebeb42;
  width: 410px;
  height: 200px;
  border-radius: 10px;
  justify-content: center;
}
