.restaurant-box-container {
  margin-top: 2em;
  margin-left: 6em;
  margin-right: 6em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
  box-sizing: border-box;
  color: #3b375d;
}

.logo-restaurant-box {
  width: 90px;
  border-radius: 50%;
  padding: 20px;
}

.banner-restaurant-box {
  width: 1200px;
  height: 250px;
  border-radius: 10px;
  background-size: cover;
}
.top-box-about {
  align-items: center;
  display: flex;
  padding-right: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
}

.name-restaurant-box {
  font-size: 30px;
  align-items: center;
  display: flex;
  word-wrap: break-word;
  font-weight: 500;
}
.top-text-box {
  align-items: center;
  display: inline-flex;
}
.status-restaurant-open {
  color: green;
  text-align: right;
  font-size: 20px;
  font-weight: 500;
}

.status-restaurant-closed {
  color: red;
  font-size: 25px;
  font-weight: 500;
}

.items-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items-box-container {
  border-radius: 8px;
  width: 100%;
  max-width: 1200px;
  align-items: stretch;
  text-align: center;
  background: #fefefec7;

  color: #3b375d;
}
.title-box {
  text-align: left;
  padding-left: 35px;
  display: flex;
  font-size: 25px;
  font-weight: 500;
  justify-content: left;
}
.list-menu {
  padding: 0 auto;
  background: #fefefe;
  width: 430px;
  height: 10rem;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #ebebeb;
  &:hover {
    border: 1px solid #a8a8b3;
  }
}

.list-menu-img {
  position: absolute;
  margin-top: 30px;
  margin-left: 20px;
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}
.list-menu-box {
  position: relative;
  justify-content: center;
  display: inline-block;
  margin-left: 40px;
}
.list-menu-name {
  color: #3b375d;
  h3 {
    font-size: 1.8em;
  }
}
.list-menu-category {
  color: #3b375d;
  font-size: 1.5em;
}
