.navbar-home-login {
  color: #3b375d;
  align-items: center;
  height: 80px;
  background-color: #fefefe;
  border-bottom: 2.3px solid #ebebeb;
  .api-name {
    padding: 0 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.2em;
    .img-logo {
      width: 80px;
      height: 80px;
      cursor: pointer;
    }

    .header-search-restaurant {
      display: float;
      border: 1px solid #a8a8b3;
      background-image: url(../../../assets/image/lupa.png);
      background-size: 20px;
      background-repeat: no-repeat;
      color: #ffffff;
      padding-left: 40px;
      background-position: 15px center;
      border-radius: 10px;
      font-size: 20px;
      input {
        border: none;
        width: 300px;
        height: 40px;
      }
      :focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
      }
    }

    .types {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: space-around;

      .username {
        font-size: 16px;
        margin-right: 15px;
        font-weight: 600;
      }
      .nav-react-icon {
        cursor: pointer;
        align-self: center;
        color: #3b375d;
      }

      .nav-react-icon-cart {
        margin-right: 5px;
      }
    }
  }
}

.contador {
  color: #3b375d;
  background-color: #f3e836;
  text-align: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  font-size: 12px;
  margin-top: -1.5em;
  margin-left: -0.8em;
  padding-left: 0;
}
@media (max-width: 450px) {
  .navbar-home-login {
    .api-name {
      padding: 0 15px;
      .header-search-restaurant {
        display: none;
      }
      .types {
        justify-content: flex-start;
        .username {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar-home-login {
    .api-name {
      padding: 0 15px;
      .header-search-restaurant {
        input {
          width: 150px;
        }
      }
      .types {
        justify-content: flex-start;
        .username {
          margin-right: 10px;
        }
      }
    }
  }
}
