.App form {
  max-width: 900px;
  padding: 30px;
  align-items: center;
}

.form-control-group {
}

.form-input {
  height: 40px;
  border-radius: 10px;
  background: #fff;
  text-align: left;
  border: 1px solid #a8a8b3;
  width: 100%;
  padding-left: 10px;
}
input + input {
  margin-top: 2em;
}

.form-input-select {
  height: 40px;
  border-radius: 10px;
  background: #fff;
  text-align: left;
  border: 1px solid #a8a8b3;
  width: 453px;
  padding-left: 10px;
}
.p-form {
  text-align: left;
  color: #3b375d;
  a {
    color: #5964f9;
  }
}
