.home-restaurant {
  height: 100vh;
  color: #3b375d;
  background-image: url(../../assets/image/36022.jpg);
  background-repeat: repeat;
  background-size: cover;
  background: transparent;
}

.home-profile-restaurant {
  text-align: center;
  margin-top: 70px;
}
.home-img-profile-restaurant {
  display: flex;
  justify-content: center;
}
.img-logo-home {
  width: 300px;
  border-radius: 50%;
}
.home-profile-welcome {
  font-size: 70px;
}
.home-profile-restaurant-name {
  font-weight: 700;
  margin-top: 2em;
  font-size: 30px;
}

.me-logo-restaurant {
  margin-top: 2em;
  width: 150px;
  border-radius: 75px;
}

.button-open {
  margin-top: 2em;
  color: #fff;
  background-color: #4054b2;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  margin-right: 5px;
  justify-content: center;
  width: 200px;
  height: 70px;
  cursor: pointer;
  font-size: 15px;

  &:hover {
    background-color: #f3e836;
    color: #4054b2;
    font-weight: 600;
    transition: 0.2s;
  }
}

.button-close {
  margin-top: 2em;
  color: #fff;
  background-color: #4054b2;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  margin-left: 5px;
  justify-content: center;
  width: 200px;
  height: 70px;
  cursor: pointer;
  font-size: 15px;

  &:hover {
    background-color: #f3e836;
    color: #4054b2;
    font-weight: 600;
    transition: 0.2s;
  }
}

//.button-open {
//      margin-top: 2em;
//      color: #fff;
//      background-color: #4054b2;
//      font-weight: 600;
//      border: none;
//      border-top-left-radius: 8px;
//      border-bottom-left-radius: 8px;
//      justify-content: center;
//      border-right: 2px solid #485cb4;
//      width: 200px;
//      height: 70px;
//      cursor: pointer;
//      font-size: 15px;
//
//      &:hover {
//        background-color: #f3e836;
//        color: #4054b2;
//        font-weight: 600;
//        transition: 0.2s;
//      }
//    }
//
//    .button-close {
//      margin-top: 2em;
//      color: #fff;
//      background-color: #4054b2;
//      font-weight: 600;
//      border: none;
//      border-left: 2px solid #485cb4;
//      border-top-right-radius: 8px;
//      border-bottom-right-radius: 8px;
//      justify-content: center;
//      width: 200px;
//      height: 70px;
//      cursor: pointer;
//      font-size: 15px;
//
//      &:hover {
//        background-color: #f3e836;
//        color: #4054b2;
//        font-weight: 600;
//        transition: 0.2s;
//      }
//    }
