.list-menu-content {
  margin-left: 1em;
  margin-bottom: 2em;
  margin-right: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px auto;
  box-sizing: border-box;

  .list-menu {
    padding: 0 auto;
    background: #fefefe;
    width: 580px;
    height: 300px;
    max-height: 300px;
    border-radius: 10px;
    cursor: default;
    border: 1px solid #ebebeb;
    &:hover {
      border: 1px solid #a8a8b3;
    }

    .list-menu-img {
      position: absolute;
      margin-top: 3em;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 2em;
      .list-menu-img-food {
        width: 150px;
        height: 150px;
        border-radius: 10px;
      }
    }
    .list-menu-box {
      position: relative;
      justify-content: space-between;
      display: inline-block;
      padding-left: 150px;
      padding-right: 10px;
    }
    .list-menu-name {
      color: #3b375d;
      height: 45px;
      font-size: 20px;
    }
    .list-menu-category {
      color: #3b375d;
      font-size: 15px;
    }
    .list-menu-price {
      justify-content: center;
      display: flex;
      align-items: center;
      color: #3b375d;
      font-size: 18px;
    }
    .p-list-menu-price {
      margin-right: 20px;
    }
    .p-list-menu-quantity {
      .list-menu-quantity {
        border-radius: 3px;
        width: 45px;
        height: 20px;
        padding-left: 10px;
        border: none;
        margin-right: 5px;
        background-color: #fff;
        border: 1px solid #c1c1ca7c;
      }
    }

    .list-menu-description {
      color: #3b375d;
      height: 50px;
      font-size: 15px;
      word-wrap: normal;
    }
  }
  .button-buy {
    color: #fefefe;
    background-color: #4054b2;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    width: 100px;
    height: 35px;
    cursor: pointer;

    &:hover {
      background-color: #f3e836;
      color: #4054b2;
      font-weight: 600;
      transition: 0.2s;
    }
  }
}

@media (max-width: 450px) {
  .list-menu-content {
    .list-menu-restaurant {
      width: 380px;
      height: 10rem;
    }
  }
}
