body {
  font-family: "Montserrat", sans-serif;
  background-image: url(../../assets/image/36022.jpg);
  background-repeat: repeat;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
