.container {
  margin-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px auto;
  box-sizing: border-box;

  .restaurant {
    padding: 0 auto;
    background: #fefefe;
    width: 430px;
    height: 2rem;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    &:hover {
      border: 1px solid #a8a8b3;
    }

    .restaurant-img {
      position: absolute;
      padding-right: 5px;
      img {
        width: 60px;
        height: 60px;
        margin-top: -8px;
        margin-left: -5px;
        border-radius: 50%;
      }
    }
    .restaurants-box {
      position: relative;
      justify-content: center;
      display: inline-block;
      margin-left: 40px;
    }
    .restaurants-name {
      color: #3b375d;
      h3 {
        font-size: 18px;
      }
    }
    .restaurant-category {
      color: #3b375d;
      font-size: 1.5em;
    }

    .restaurant-is-open {
      color: #a3d321;
      font-size: 18px;
    }
  }

  .restaurant-closed {
    padding: 0 auto;
    background: #fefefe;
    width: 430px;
    height: 10rem;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    &:hover {
      border: 1px solid #a8a8b3;
    }
    .restaurant-img {
      position: absolute;
      padding-right: 5px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-top: -8px;
        margin-left: -5px;
        filter: brightness(0.6);
      }
    }
    .restaurants-box {
      position: relative;
      justify-content: center;
      display: inline-block;
    }

    .restaurants-name {
      color: gray;
      h3 {
        font-size: 18px;
      }
    }
    .restaurant-category {
      color: gray;
      font-size: 1.5em;
    }

    .restaurant-is-closed {
      font-size: 19px;
      color: gray;
    }
  }
}

@media (max-width: 450px) {
  .container {
    .restaurant {
      width: 380px;
      height: 10rem;
    }

    .restaurant-closed {
      width: 380px;
      height: 10rem;
    }
  }
}
