.content {
  .restaurant {
    padding: 0 auto;
    background: #fefefe;
    width: 430px;
    height: 2rem;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    &:hover {
      border: 1px solid #a8a8b3;
    }

    .restaurant-img {
      position: absolute;
      padding-right: 5px;
      .restaurant-img-logo {
        width: 60px;
        height: 60px;
        margin-top: 18px;
        margin-left: 10px;
        border-radius: 50%;
      }
    }
    .restaurants-box {
      position: relative;
      justify-content: center;
      display: inline-block;
      margin-left: 40px;
    }
    .restaurants-name {
      color: #3b375d;
      .h3-restaurants-name {
        font-size: 18px;
      }
    }

    .restaurant-is-open {
      color: #a3d321;
      font-size: 18px;
    }
  }

  .restaurant-closed {
    padding: 0 auto;
    background: #fefefe;
    width: 430px;
    height: 10rem;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    &:hover {
      border: 1px solid #a8a8b3;
    }
    .restaurant-img {
      position: absolute;
      padding-right: 5px;

      .restaurant-img-logo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-top: 18px;
        margin-left: 10px;
        filter: brightness(0.6);
      }
    }
    .restaurants-box {
      position: relative;
      justify-content: center;
      display: inline-block;
    }

    .restaurants-name {
      color: gray;
      .h3-restaurants-name {
        font-size: 18px;
      }
    }
    .restaurant-category {
      color: gray;
      font-size: 1.5em;
    }

    .restaurant-is-closed {
      font-size: 19px;
      color: gray;
    }
  }
}

@media (max-width: 450px) {
  .content {
    .restaurant {
      width: 380px;
      height: 10rem;
    }

    .restaurant-closed {
      width: 380px;
      height: 10rem;
    }
  }
}
