.container {
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px auto;
  box-sizing: border-box;

  .restaurant-list {
    padding: 0 auto;
    background: #fefefe;
    width: 430px;
    height: 10rem;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    &:hover {
      border: 1px solid #a8a8b3;
    }

    .restaurant-list-img {
      position: absolute;
      padding-right: 5px;
      .restaurant-img-logo {
        width: 60px;
        height: 60px;
        margin-top: 18px;
        margin-left: 10px;
        border-radius: 50%;
      }
    }
    .restaurants-list-box {
      position: relative;
      justify-content: center;
      display: inline-block;
      margin-left: 40px;
    }
    .restaurants-list-name {
      color: #3b375d;
      .h3-restaurants-name {
        font-size: 18px;
      }
    }

    .restaurant-list-is-open {
      color: #00e100;
      font-size: 18px;
    }
  }

  .restaurant-list-closed {
    padding: 0 auto;
    background: #fefefe;
    width: 430px;
    height: 10rem;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    &:hover {
      border: 1px solid #a8a8b3;
    }
    .restaurant-list-img {
      position: absolute;
      padding-right: 5px;

      .restaurant-img-logo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-top: 18px;
        margin-left: 10px;
        filter: brightness(0.6);
      }
    }
    .restaurants-list-box {
      position: relative;
      justify-content: center;
      display: inline-block;
    }

    .restaurants-list-name {
      color: gray;
      .h3-restaurants-name {
        font-size: 18px;
      }
    }

    .restaurant-list-is-closed {
      font-size: 19px;
      color: gray;
    }
  }
}

@media (max-width: 450px) {
  .content {
    .restaurant {
      width: 380px;
      height: 10rem;
    }

    .restaurant-closed {
      width: 380px;
      height: 10rem;
    }
  }
}
