.button-home-restaurant {
  color: #fefefe;
  border-radius: 10px;
  border: none;
  margin-right: 2em;

  cursor: pointer;
  transition: 0.2s;

  font-size: 16px;
}
.button-menu-restaurant {
  background: transparent;
  color: rgb(5, 5, 88);
  font-weight: 500;
  padding: 0;
  &:hover {
    font-weight: 700;
  }
}

@media (max-width: 450px) {
  .navbar-home {
    .api-name {
      padding: 0 15px;
      .types {
        display: flex;
        gap: 3px;
        align-items: center;

        .button-home {
          color: #fefefe;
          border-radius: 10px;
          border: none;
          width: 6em;
          height: 3.5em;
          cursor: pointer;
          transition: 0.2s;
          margin-left: 5px;
        }
        .create-account-button {
          background: transparent;
          color: rgb(5, 5, 88);
          font-weight: 500;
          padding: 0;
          &:hover {
            font-weight: 700;
          }
        }
        .login-button {
          background: #4054b2;
          &:hover {
            background-color: #f3e836;
            color: #4054b2;
            font-weight: 500;
          }
        }
        .restaurant-button {
          background-color: #4054b2;
          &:hover {
            background-color: #f3e836;
            color: #4054b2;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar-home {
    .api-name {
      padding: 0 15px;
      .types {
        display: flex;
        gap: 3px;
        align-items: center;

        .button-home {
          color: #fefefe;
          border-radius: 10px;
          border: none;
          width: 6em;
          height: 3.5em;
          cursor: pointer;
          transition: 0.2s;
          margin-left: 5px;
        }
        .create-account-button {
          background: transparent;
          color: rgb(5, 5, 88);
          font-weight: 500;
          padding: 0;
          &:hover {
            font-weight: 700;
          }
        }
        .login-button {
          background: #4054b2;
          &:hover {
            background-color: #f3e836;
            color: #4054b2;
            font-weight: 500;
          }
        }
        .restaurant-button {
          background-color: #4054b2;
          &:hover {
            background-color: #f3e836;
            color: #4054b2;
            font-weight: 500;
          }
        }
      }
    }
  }
}
